<html>
<head>
    <title>Hello Chat</title>
    <script src="http://localhost:3002/socket.io/socket.io.js">
      console.log("inside of codeblock");
    </script>
</head>


<body>
<h1>Hello Chat</h1>

<ul id="messages">

</ul>


<textarea name="message" type="text" id="message"> </textarea> <br>
<button id="send">Send</button>

<script>

    // var random = Math.floor(Math.random() * 1000) + "";
    // console.log(random);
    var username = '<%= User.find(params[:id]).username%>'
    console.log(username);
    var socket = io.connect("http://localhost:3002/?username="+username); // right address
    var messages = document.getElementById('messages');


    var textarea = document.getElementById('message');
    var button = document.getElementById('send');
    button.addEventListener('click', function(){
        var message = textarea.value;

        socket.emit('message', {message: message});

        textarea.value = "";

    });

    socket.on('message', function (data) {
        console.log(data);
        var element = document.createElement('li');
        element.innerHTML = data.username + " : " + data.message;
        messages.appendChild(element);

    });





</script>


<style>

    *{
        padding: 0;
        margin: 0;
    }
    ul#messages{

        min-height: 500px;
        background-color: grey;
        width:100%;

    }

    ul li {
        color: white;
        padding-left: 20px;
        font-size: 24px;
    }
    textarea#message{
        width: 100%;
        height: 100px;
    }





</style>
</body>
</html>
